# Distribution / packaging
.Python
env/
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
aws-dd-forwarder.zip
tfplan
__pycache__
.pytest_cache
coverage-report
.coverage
coverage.xml
htmlcov
safety-report.txt
bandit-report.html
.scannerwork

# Serverless directories
.serverless
.requirements.zip

service-account.json
current_config.json
.DS_Store
.idea
node_modules

### Terraform ###
.terraform

# IntelliJ
*/.idea/
android-inska/.idea/gradle.xml

# Backend
pom.properties
log/
target/
.idea/
*.ipr
*.iws
node_modules/
.serverless/
*.iml
requirements.txt